<!-- about.component.html -->
<div class="about-container">
    <div class="about-content">
      <div class="about-text">
        <h1>Hi, I'm <span class="highlight">Charan Teja Kilari</span></h1>
        <h2>Cloud .NET Developer</h2>
        <p>
            Qualified .NET Software Engineer with 3+ years of experience in developing scalable, secure applications using C, .NET MVC, WebAPI, Angular, and SQL Server. Proficient in designing multi-threaded applications, API integrations with third-party providers, and applying agile development methodologies. Passionate about clean coding practices, CI/CD pipelines, and improving application performance and well developed team work abilities.

        </p>
        <div class="skills">
          <span class="skill-tag">Azure</span>
          <span class="skill-tag">.NET Core</span>
          <span class="skill-tag">REST API</span>
          <span class="skill-tag">C#</span>
          <span class="skill-tag">DSA</span>
          <span class="skill-tag">Generative AI</span>
          <span class="skill-tag">SQL Server</span>
          <span class="skill-tag">Cosmos DB</span>
        </div>
      </div>
      <div class="about-image">
        <img src="po2.jpg" alt="Cloud Developer">
      </div>
    </div>
  </div>