<!-- app.component.html -->
<div class="portfolio-container">
  <app-header></app-header>
  <main>
    <section id="about" class="section about-section">
      <app-about></app-about>
    </section>
    
    <section id="experience" class="section experience-section">
      <app-experience></app-experience>
    </section>
    
    <section id="achievements" class="section achievements-section">
      <app-achievements></app-achievements>
    </section>
    
    <section id="projects" class="section projects-section">
      <app-projects></app-projects>
    </section>
    
    <section id="testimonials" class="section testimonials-section">
      <app-testimonials></app-testimonials>
    </section>
  </main>
  <app-footer></app-footer>
</div>